<!-- about.component.html -->
<app-header></app-header>
<!-- <br><br> -->
<div class="container">
  <div class="book-new">
    <div class="book-list">
      <h3>Book List</h3>
      <!-- <ul *ngFor="let book of books" [class]="'book ' + book.status"></ul> -->
      <ul>
        <li>
          <p>book Name</p>
          <p>book author</p>
          <p>published date</p>
          <p>Rating</p>
          <p>Preview</p>
        </li>
        <li>
          <p>book Name</p>
          <p>book author</p>
          <p>published date</p>
          <p>Rating</p>
          <p>Preview</p>
        </li>
        <li>
          <p>book Name</p>
          <p>book author</p>
          <p>published date</p>
          <p>Rating</p>
          <p>Preview</p>
        </li>
      </ul>
      <div class="more-books">
        <a href="#">more-books</a>
      </div>
    </div>
  </div>

  <div class="book-reviews-container">

    <div class="book-review">
      <h2>Book Review</h2>

      <div class="book-info">
        <img src="path/to/book-cover.jpg" alt="Book Cover" class="book-cover">
        <div class="book-details">
          <h3>Title: Angular in Action</h3>
          <p>Author: Jeff Dutton</p>
          <p>Genre: Technical</p>
        </div>
      </div>

      <div class="review-content">
        <h4>Summary:</h4>
        <p>
          "Angular in Action" is a comprehensive guide to building web
          applications with Angular.
          The book covers topics ranging from the basics of Angular to advanced
          concepts,
          making it suitable for both beginners and experienced developers.
        </p>

        <h4>Rating:</h4>
        <p>⭐⭐⭐⭐</p>
      </div>

    </div>
    <div class="book-review">
      <h2>Book Review</h2>

      <div class="book-info">
        <img src="path/to/book-cover.jpg" alt="Book Cover" class="book-cover">
        <div class="book-details">
          <h3>Title: Angular in Action</h3>
          <p>Author: Jeff Dutton</p>
          <p>Genre: Technical</p>
        </div>
      </div>

      <div class="review-content">
        <h4>Summary:</h4>
        <p>
          "Angular in Action" is a comprehensive guide to building web
          applications with Angular.
          The book covers topics ranging from the basics of Angular to advanced
          concepts,
          making it suitable for both beginners and experienced developers.
        </p>

        <h4>Rating:</h4>
        <p>⭐⭐⭐⭐</p>
      </div>

    </div>
    <div class="book-review">
      <h2>Book Review</h2>

      <div class="book-info">
        <img src="path/to/book-cover.jpg" alt="Book Cover" class="book-cover">
        <div class="book-details">
          <h3>Title: Angular in Action</h3>
          <p>Author: Jeff Dutton</p>
          <p>Genre: Technical</p>
        </div>

      </div>

      <div class="review-content">
        <h4>Summary:</h4>
        <p>
          "Angular in Action" is a comprehensive guide to building web
          applications with Angular.
          The book covers topics ranging from the basics of Angular to advanced
          concepts,
          making it suitable for both beginners and experienced developers.
        </p>

        <h4>Rating:</h4>
        <p>⭐⭐⭐⭐</p>
      </div>

    </div>
  </div>

  <div class="book-status">
    <div class="book-info2">
      <h3>Status: In Progress</h3>

      <ul>
        <li>
          <p>I'm currently reading this book.</p>
          <p>when added</p>
          <p>no.of pages readed</p>
          <p>Left no. of pages</p>
          <p>Target to complete</p>
          <p>See where left</p>
          <p>set time to read</p>
        </li>
        <li>
          <p>I'm currently reading this book.</p>
          <p>when added</p>
          <p>no.of pages readed</p>
          <p>Left no. of pages</p>
          <p>Target to complete</p>
          <p>See where left</p>
          <p>set time to read</p>
        </li>
        <li>
          <p>I'm currently reading this book.</p>
          <p>when added</p>
          <p>no.of pages readed</p>
          <p>Left no. of pages</p>
          <p>Target to complete</p>
          <p>See where left</p>
          <p>set time to read</p>
        </li>
      </ul>
    </div>
  </div>
</div>