/* about.component.css */

.book-review {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin-bottom for spacing */
  }
  
  h2 {
    color: #333;
  }
  
  .book-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .book-cover {
    width: 120px;
    height: 160px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .book-details {
    flex: 1;
  }
  
  h3 {
    color: #007bff;
  }
  
  .review-content {
    line-height: 1.6;
  }
  
  h4 {
    color: #555;
  }
  
  p {
    color: #777;
  }
  .book-reviews-container {
      margin-top: 40px;
      max-width: 60%;
      margin: auto;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      overflow-y: auto; /* Add scrollbar */
      max-height: 540px; /* Set maximum height to enable scrolling */
      margin-top: 40px; /* Add margin-top for spacing at the top */
  
    }
    